
<!DOCTYPE html>
<html>
<head>
    <title><%= exam.title %></title>
</head>
<body>
    <h1><%= exam.title %></h1>
    <p><%= exam.description %></p>
    <form action="/exam/submit" method="POST">
         <input type="hidden" name="examId" value="<%= exam._id %>">
        <% exam.questions.forEach((question, index) => { %>
            <div>
                <p><%= question.question %></p>
                <% question.options.forEach((option, optionIndex) => { %>
                    <label>
                        <input type="radio" name="answers[<%= index %>]" value="<%= optionIndex %>"> <%= option %>
                    </label>
                <% }) %>
            </div>
        <% }) %>
        <button type="submit">Submit</button>
    </form>
</body>
</html>